# Auto detect text files and perform LF normalization
* text=auto

# GameMaker
*.yy linguist-detectable=false
*.yyp linguist-detectable=false
*.vsh linguist-detectable=false
*.fsh linguist-detectable=false
.github/Screenshot[[:space:]]2025-03-14[[:space:]]043958.png !text !filter !merge !diff
