:root {
  --theme-color: #1f6feb; /* vibrant blue */
}

html {
  --accent: #1fa0eb !important;
  --highlightColor: #2755d2;
}

/* Link styles */
a {
  color: var(--theme-color);
}
a:hover {
  text-decoration: underline;
}

/* Header */
.sidebar .app-name {
  color: var(--theme-color);
}
