:root {
  --theme-color: #1f6feb !important;
  --accent: #1fa0eb !important;
  --highlightColor: #83c4fd !important;
}

/* Link styles */
a {
  color: var(--theme-color);
}
a:hover {
  text-decoration: underline;
}

/* Header */
.sidebar .app-name {
  color: var(--theme-color);
}
