name: Build
run-name: "Build - GM Runtime ${{ inputs.runtime }}"

on:
    workflow_dispatch:
        inputs:
            runtime:
                description: "Target runtime"
                default: "2024.11.0.227"
                required: false
env:
    CMAKE_VERSION: "4.1.1"
    NODE_VERSION: "20"
    PREMAKE_VERSION: "5.0.0-beta2"
    DLL_PATH: "src/gm/ImGM/extensions/ImGM"
    YYP_PATH: "${{ github.workspace }}/src/gm/ImGM/ImGM.yyp"

jobs:
    build-imgm:
        strategy:
            matrix:
                os: [windows-latest] # ignore for now: ubuntu-latest, macos-latest
        runs-on: ${{ matrix.os }}
        name: Build ImGM (${{ matrix.os }})
        environment: GameMaker
        outputs:
          igor-user-dir: ${{ steps.igor.outputs.user-dir }}
        steps:
            #region Init Jobs
            - name: Checkout
              uses: actions/checkout@v4
              with:
                submodules: recursive

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ env.NODE_VERSION }}

            - name: Install Dependencies
              run: |
                  npm ci
                  pip install -r requirements.txt

            - name: Setup CMake
              uses: jwlawson/actions-setup-cmake@v2
              with:
                  cmake-version: ${{ env.CMAKE_VERSION }}

            - name: Setup Premake
              uses: abel0b/setup-premake@v2.4
              with:
                  version: ${{ env.PREMAKE_VERSION }}
            #endregion

            #region Setup Jobs
            - name: Get YYP version from file (Linux)
              if: runner.os == 'Linux'
              run: |
                echo "YYP_VERSION=$(grep -oP '(?<=IDEVersion":")(\d+\.\d+\.\d+\.\d+)(?=")' ${{ env.YYP_PATH }})" >> $GITHUB_ENV
            - name: Get YYP version from file (Windows)
              if: runner.os == 'Windows'
              run: |
                $yypVersion = Select-String -Path "${{ env.YYP_PATH }}" -Pattern 'IDEVersion":"(\d+\.\d+\.\d+\.\d+)' -AllMatches | ForEach-Object { $_.Matches.Groups[1].Value }
                "YYP_VERSION=$yypVersion" | Out-File -Append -FilePath $env:GITHUB_ENV

            - name: Igor Setup
              uses: bscotch/igor-setup@main
              id: igor
              with:
                  target-yyp: ${{ env.YYP_PATH }}
                  access-key: ${{ secrets.ACCESS_KEY }}
                  local-settings-override-file: ${{ github.workspace }}/local_settings.json
                  runtime-version: ${{ inputs.runtime }}

            - name: Caching
              uses: actions/cache@v4
              with:
                path: |
                  ${{ github.workspace }}/bootstrapper
                  ${{ github.workspace }}/runtimes
                key: ${{ runner.os }}-${{ inputs.runtime }}

            #endregion

            #region Process Jobs
            - name: Store Directory into Environment
              run: echo "IGOR_USER_DIR=${{ steps.igor.outputs.user-dir }}" >> $GITHUB_ENV

            - name: Prepare ImGM Modules
              env:
                  GM_DATA: ${{ steps.igor.outputs.user-dir }}
              run: npm run modules:copy -- --gm --imgui --ext all

            - name: Run Premake
              run: |
                if ($env:RUNNER_OS -eq "Windows") {
                  premake5 vs2022
                  cmake-converter.exe -s ./src/dll/dll.sln
                } else {
                  premake5 gmake2
                }

            - name: Configure CMake
              run: |
                  cmake -S src/dll -B src/dll/build-debug -DCMAKE_BUILD_TYPE=Debug
                  cmake -S src/dll -B src/dll/build-release -DCMAKE_BUILD_TYPE=Release

            - name: Build Debug
              run: |
                cmake --build src/dll/build-debug
                if ($env:RUNNER_OS -eq "Windows") {
                  $artifacts = @("ImGM.dll", "ImGM.exp", "ImGM.lib", "ImGM.pdb", "ImGM.so", "ImGM.dylib", "ImGM.yy")
                  $base = "${{ env.DLL_PATH }}"
                  foreach ($f in $artifacts) {
                    $src = Join-Path $base $f
                    $newName = "{0}.debug{1}" -f [System.IO.Path]::GetFileNameWithoutExtension($f), [System.IO.Path]::GetExtension($f)
                    $dst = Join-Path $base $newName
                    if (Test-Path $src) {
                        try {
                          Rename-Item -Path $src -NewName $newName -ErrorAction Stop
                          Write-Host "Renamed $f to $newName"
                        } catch {
                          Write-Host "Failed to rename $src → $newName"
                          Write-Host "Error: $_"
                        }
                      } else {
                        Write-Host "Skipping file not found: $src"
                      }
                  }
                } else {
                  $base = "${{ env.DLL_PATH }}"
                  $files = @("ImGM.so", "ImGM.dylib", "ImGM.yy")
                  foreach ($file in $files) {
                    $src = Join-Path $base $file
                    $nameOnly = $file.Substring(0, $file.LastIndexOf('.'))
                    $ext = $file.Split('.')[-1]
                    $newName = "$nameOnly.debug.$ext"
                    $dst = Join-Path $base $newName

                    if (Test-Path $src) {
                        try {
                          Rename-Item -Path $src -NewName $newName -ErrorAction Stop
                          Write-Host "Renamed $f to $newName"
                        } catch {
                          Write-Host "Failed to rename $src → $newName"
                          Write-Host "Error: $_"
                        }
                      } else {
                        Write-Host "Skipping file not found: $src"
                      }

                  }
                }

            - name: Build Release
              run: cmake --build src/dll/build-release

            - name: Upload Debug Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Debug-${{ matrix.os }}
                  path: ${{ env.DLL_PATH }}/*.debug.*

            - name: Upload Release Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Release-${{ matrix.os }}
                  path: ${{ env.DLL_PATH }}/ImGM.*
            #endregion

    test-imgm:
        needs: build-imgm
        strategy:
            matrix:
                os: [windows-latest] # ubuntu-latest, macos-latest
        runs-on: ${{ matrix.os }}
        name: Test ImGM (${{ matrix.os }}) - GM Runtime ${{ inputs.runtime }}
        environment: GameMaker
        env:
          IGOR_USER_DIR: ${{ needs.build-imgm.outputs.igor-user-dir }}
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Download Debug DLLs
              uses: actions/download-artifact@v4
              with:
                  name: ImGM-Debug-${{ matrix.os }}
                  path: ${{ env.DLL_PATH }}/debug

            - name: Download Release DLLs
              uses: actions/download-artifact@v4
              with:
                  name: ImGM-Release-${{ matrix.os }}
                  path: ${{ env.DLL_PATH }}/release

            - name: Restore DLLs to Original Paths
              shell: pwsh
              run: |
                  $base = "${{ env.DLL_PATH }}"
                  $debugDir = Join-Path $base "debug"
                  $releaseDir = Join-Path $base "release"
                  $files = @("ImGM.dll", "ImGM.exp", "ImGM.lib", "ImGM.pdb", "ImGM.so", "ImGM.dylib", "ImGM.yy")
                  foreach ($f in $files) {
                    $debug = Join-Path $debugDir $f
                    $release = Join-Path $releaseDir $f
                    $target = Join-Path $base $f
                    if (Test-Path $debug) { Copy-Item $debug -Destination $target -Force }
                    elseif (Test-Path $release) { Copy-Item $release -Destination $target -Force }
                  }

            - name: Igor Build GameMaker Project
              uses: bscotch/igor-build@main
              with:
                  yyp-path: ${{ env.YYP_PATH }}
                  user-dir: ${{ env.IGOR_USER_DIR }}
