name: Build ImGM

on:
    workflow_dispatch:

jobs:
    build-windows:
        runs-on: windows-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.ref }}

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Cache NPM
              uses: actions/cache@v3
              with:
                  path: ~/.npm
                  key: windows-npm-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      windows-npm-

            - name: Install NPM Dependencies
              run: npm ci

            - name: Install Python Dependencies
              run: pip install -r requirements.txt

            - name: Manual Install CMake
              run: |
                  $CMAKE_VERSION = "4.1.1"
                  $CMAKE_DIR = "$env:USERPROFILE/cmake-$CMAKE_VERSION"
                  New-Item -ItemType Directory -Force -Path $CMAKE_DIR | Out-Null

                  if ($env:RUNNER_OS -eq "Windows") {
                    $url = "https://cmake.org/files/v4.1/cmake-$CMAKE_VERSION-windows-x86_64.zip"
                    Invoke-WebRequest -Uri $url -OutFile "cmake.zip"
                    Expand-Archive -Path "cmake.zip" -DestinationPath $CMAKE_DIR -Force
                  } elseif ($env:RUNNER_OS -eq "Linux") {
                    $url = "https://cmake.org/files/v4.1/cmake-$CMAKE_VERSION-linux-x86_64.tar.gz"
                    Invoke-WebRequest -Uri $url -OutFile "cmake.tar.gz"
                    tar -xzf "cmake.tar.gz" --strip-components=1 -C $CMAKE_DIR
                  } elseif ($env:RUNNER_OS -eq "macOS") {
                    $url = "https://cmake.org/files/v4.1/cmake-$CMAKE_VERSION-macos-universal.tar.gz"
                    Invoke-WebRequest -Uri $url -OutFile "cmake.tar.gz"
                    tar -xzf "cmake.tar.gz" --strip-components=1 -C $CMAKE_DIR
                  }

                  $env:PATH = "$CMAKE_DIR/bin;$env:PATH"
                  cmake --version

            - name: Install Premake
              uses: abel0b/setup-premake@v2.4
              with:
                  version: "5.0.0-beta2"

            - name: Run Premake
              run: premake5 vs2022

            - name: Convert SLN to CMake
              run: cmake-converter.exe -s ./src/dll/dll.sln

            - name: Configure CMake
              run: |
                  cmake -S src/dll -B src/dll/build-debug -DCMAKE_BUILD_TYPE=Debug -G "Visual Studio 17 2022" -A x64
                  cmake -S src/dll -B src/dll/build-release -DCMAKE_BUILD_TYPE=Release -G "Visual Studio 17 2022" -A x64

            - name: Build Debug
              run: |
                  cmake --build src/dll/build-debug --config Debug

                  $artifacts = @(
                    "ImGM.dll", "ImGM.exp", "ImGM.lib",
                    "ImGM.pdb", "ImGM.so", "ImGM.dylib", "ImGM.yy"
                  )

                  $basePath = "src/gm/ImGM/extensions/ImGM"

                  foreach ($file in $artifacts) {
                    $source = Join-Path $basePath $file
                    $target = Join-Path $basePath ("{0}.debug{1}" -f [System.IO.Path]::GetFileNameWithoutExtension($file), [System.IO.Path]::GetExtension($file))
                    if (Test-Path $source) {
                      Rename-Item -Path $source -NewName $target
                    } else {
                      Write-Host "$file not found, skipping..."
                    }
                  }

            - name: Build Release
              run: cmake --build src/dll/build-release --config Release

            - name: Upload Release Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Release-windows-${{ github.sha }}
                  path: |
                      src/gm/ImGM/extensions/ImGM/ImGM.dll
                      src/gm/ImGM/extensions/ImGM/ImGM.exp
                      src/gm/ImGM/extensions/ImGM/ImGM.lib
                      src/gm/ImGM/extensions/ImGM/ImGM.pdb
                      src/gm/ImGM/extensions/ImGM/ImGM.so
                      src/gm/ImGM/extensions/ImGM/ImGM.dylib
                      src/gm/ImGM/extensions/ImGM/ImGM.yy

            - name: Upload Debug Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Debug-windows-${{ github.sha }}
                  path: |
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.dll
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.exp
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.lib
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.pdb
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.so
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.dylib
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.yy

    build-ubuntu:
        needs: build-windows
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.ref }}

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Cache NPM
              uses: actions/cache@v3
              with:
                  path: ~/.npm
                  key: ubuntu-npm-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      ubuntu-npm-

            - name: Install NPM Dependencies
              run: npm ci

            - name: Install Python Dependencies
              run: pip install -r requirements.txt

            - name: Install Newer CMake
              uses: ssrobins/install-cmake@v1
              with:
                  version: "4.1.1"

            - name: Setup Premake
              uses: abel0b/setup-premake@v2.4
              with:
                  version: "5.0.0-beta2"

            - name: Run Premake
              run: premake5 gmake2

            - name: Configure CMake Debug
              run: cmake -S src/dll -B src/dll/build-debug -DCMAKE_BUILD_TYPE=Debug

            - name: Configure CMake Release
              run: cmake -S src/dll -B src/dll/build-release -DCMAKE_BUILD_TYPE=Release

            - name: Build Debug
              run: cmake --build src/dll/build-debug

            - name: Rename Debug Artifacts
              run: |
                  for file in ImGM.so ImGM.dylib ImGM.yy; do
                    src="src/gm/ImGM/extensions/ImGM/$file"
                    dst="src/gm/ImGM/extensions/ImGM/${file%.${file##*.}}.debug.${file##*.}"
                    [ -f "$src" ] && mv "$src" "$dst" || echo "$file not found, skipping..."
                  done

            - name: Build Release
              run: cmake --build src/dll/build-release

            - name: Upload Release Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Release-ubuntu-${{ github.sha }}
                  path: |
                      src/gm/ImGM/extensions/ImGM/ImGM.so
                      src/gm/ImGM/extensions/ImGM/ImGM.dylib
                      src/gm/ImGM/extensions/ImGM/ImGM.yy

            - name: Upload Debug Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Debug-ubuntu-${{ github.sha }}
                  path: |
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.so
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.dylib
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.yy

    build-macos:
        needs: build-ubuntu
        runs-on: macos-latest
        steps:
            - name: Checkout Repository
              uses: actions/checkout@v4
              with:
                  ref: ${{ github.ref }}

            - name: Setup NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: "20"

            - name: Cache NPM
              uses: actions/cache@v3
              with:
                  path: ~/.npm
                  key: macos-npm-${{ hashFiles('**/package-lock.json') }}
                  restore-keys: |
                      macos-npm-

            - name: Install NPM Dependencies
              run: npm ci

            - name: Install Python Dependencies
              run: pip install -r requirements.txt

            - name: Install Newer CMake
              uses: ssrobins/install-cmake@v1
              with:
                  version: "4.1.1"

            - name: Setup Premake
              uses: abel0b/setup-premake@v2.4
              with:
                  version: "5.0.0-beta2"

            - name: Run Premake
              run: premake5 gmake2

            - name: Configure CMake (Debug)
              run: cmake -S src/dll -B src/dll/build-debug -DCMAKE_BUILD_TYPE=Debug

            - name: Configure CMake (Release)
              run: cmake -S src/dll -B src/dll/build-release -DCMAKE_BUILD_TYPE=Release

            - name: Build Debug
              run: cmake --build src/dll/build-debug

            - name: Rename Debug Artifacts
              run: |
                  for file in ImGM.so ImGM.dylib ImGM.yy; do
                    src="src/gm/ImGM/extensions/ImGM/$file"
                    dst="src/gm/ImGM/extensions/ImGM/${file%.${file##*.}}.debug.${file##*.}"
                    [ -f "$src" ] && mv "$src" "$dst" || echo "$file not found, skipping..."
                  done

            - name: Build Release
              run: cmake --build src/dll/build-release

            - name: Upload Release Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Release-macos-${{ github.sha }}
                  path: |
                      src/gm/ImGM/extensions/ImGM/ImGM.so
                      src/gm/ImGM/extensions/ImGM/ImGM.dylib
                      src/gm/ImGM/extensions/ImGM/ImGM.yy

            - name: Upload Debug Artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: ImGM-Debug-macos-${{ github.sha }}
                  path: |
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.so
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.dylib
                      src/gm/ImGM/extensions/ImGM/ImGM.debug.yy
