name: CI

on:
    push:
        branches:
            - develop
    pull_request:

jobs:
    commitlint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
              with:
                  ref: ${{ github.ref }}
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  node-version: "latest"

            - name: Print versions
              run: |
                  git --version
                  node --version
                  npm --version
                  npx commitlint --version

            - name: Install dependencies
              run: npm ci

            - name: Validate current commit (last commit) with commitlint
              if: github.event_name == 'push'
              run: npx commitlint --last --verbose

            - name: Validate PR commits with commitlint
              if: github.event_name == 'pull_request'
              run: |
                  git fetch origin ${{ github.event.pull_request.base.ref }} --depth=1
                  npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
